name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@master
      - uses: go-semantic-release/action@v1.11.2
        with:
          github-token: ${{ secrets.PA_TOKEN }}
